.page_funnel{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
    left: 0;
    bottom: 0;
    background-color: color(secondary);
    height: 140px;
    z-index: 0;
	}
}

	.page_funnel__progressbar{
		margin-bottom: 40px;
		@include breakpoint(medium up) {
			@include grid-column-size(8);
			@include grid-column-offset(2);
			@include grid-column-end();
		}
		@include breakpoint(large up) {
			@include grid-column-size(6);
			@include grid-column-offset(3);
		}
	}

	.page_funnel__required_field{
		text-align: right;
		margin-top: 30px;
		padding-right: 20px;
		span{
			@include font-scale(x-small);
		}	
	}

	.page_funnel__wrapper{
		background-color: #fff;
		@include border-radius(10px);
		padding: 50px 0;
		margin-bottom: 40px;
		position: relative;
		z-index: 1;
		.row{
			margin-right: auto;
			margin-left: auto;
		}
		.title{
			color: color(primary);
			font-weight: fw(bold);
			@include font-scale(large);
		}
		.subtitle{
			@include font-scale(small);	
			color: gray(dark);
			margin-bottom: 40px;
		}
	}

		.page_funnel__wrapper__inner{
			@include breakpoint(medium up) {
				@include grid-column-size(8);
				@include grid-column-offset(2);
				@include grid-column-end();
			}
			@include breakpoint(large up) {
				@include grid-column-size(6);
				@include grid-column-offset(3);
			}
		}