.o-form{

	label{
		text-transform: uppercase;
		display: block;
		width: 100%;
		color: gray(dark);
		@include font-scale(x-small);
		font-weight: fw(bold);
		margin-bottom: 8px;
	}

	input, textarea{
		border: 1px solid #ccc;
		width: 100%;
		display: block;
		@include border-radius(3px);
		padding: 8px;
		@include font-scale(small);
		color: gray(dark);
		transition: all .3s ease;
		margin-bottom: 24px;
		min-height: 40px;
		&:focus{
			outline: 0;
			border: 1px solid color(primary);
		}
	}

	textarea{
		resize: none;
	}

	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #ccc;
	}
	input::-moz-placeholder { /* Firefox 19+ */
	  color: #ccc;
	}
	input:-ms-input-placeholder { /* IE 10+ */
	  color: #ccc;
	}
	input:-moz-placeholder { /* Firefox 18- */
	  color: #ccc;
	}

}

	.o-form__wrapper{
		margin-bottom: 60px;
		border-bottom: 1px dashed #ccc;
		padding-bottom: 30px;
	}

	.o-form__row{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-end;
		input{
			margin-bottom: 0;
		}
	}

	.o-form__item{
		margin-bottom: 24px;
		.o-form__row &{
			width: 100%;
			display: inline-block;
			@include breakpoint(large up) {
				width: 48%;
			}
		}
		.o-form__row--three-items &{
			@include breakpoint(large up) {
				width: 32%;
			}
		}
	}

		.o-form__item--success{
			label{
				color: color(success);
			}
		}

		.o-form__item--error{
			label{
				color: color(error);
			}
		}

	.o-form__cta{
		text-align: center;
		margin-top: 60px;
		.button{
			min-width: 190px;
		}
	}

	.o-form__trigger{
		color: color(primary);
		@include font-scale(small);
		text-transform: uppercase;
		margin-bottom: 10px;
		display: block;
		&:hover{
			color: color(primary);
			text-decoration: underline;
		}
	}