.button{
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include font-scale(base);
  text-align: center;
  text-decoration: none;
  @include gnv-button-color(#fff, #ccc);
  @include gnv-button-size(base);
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  @include border-radius($base-radius);
  
  &--icon{
    span{
      display: inline-block;
      vertical-align: middle;
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      margin-right: 5px;
      * {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
  
  // Sizes
  &--small{
    @include gnv-button-size(small);
    @include font-scale(x-small);
    .o-form__row--three-items &{
      padding: 13px 20px;
      width: 100%;
    }
  }

  &--not-capitalize{
    text-transform: none;
  }

  // Colors
  &--primary{
    @include gnv-button-color( #fff, color(success) );
    &#js-add-button{
      position: relative;
      font-size: 13px;
      @include breakpoint(large up) {
        text-align: left;
      }
      &:after{
        content: '+';
        position: absolute;
        right: 10px;
        top: 25%;
        font-size: 24px;
      }
    }
  }

  &--white{
    @include gnv-button-color-inverse( #fff, transparent );
  }

}