.c-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

	.c-header__logo{

	}

	.c-header__companies{
		color: #fff;
		@include font-scale(small);
		@include breakpoint(medium down) {
			display: none;
		}
		a:hover{
			text-decoration: underline;
		}
		.c-header--dark &{
			color: color(secondary);
		}
	}

	.c-header__companies--mobile{
		display: none;
		@include font-scale(small);
		@include breakpoint(medium down) {
			display: block;
		}
		a{
			text-decoration: underline;
		}
	}

	.c-header--dark a{
		color: color(secondary);
	}

	.c-header--dark svg{
		width: 189px;
		*{
			fill: color(secondary);
		}
	}

	.c-header--funnel{
		margin-top: 50px;
		margin-bottom: 70px;
	}