{% extends "layouts/layout.html"%}

{% block header %}
<div class="row">
	<div class="column">
		<header class="c-header c-header--dark c-header--funnel">
		  <div class="c-header__logo">
		  	<a href="index.html">
		  		<img src="images/svgs/logo.svg" alt="" class="svg">
		  	</a>
		  </div>
		  <div class="c-header__companies">
		  	Sei un' azienda e cerchi personale? <a href="#"><strong>Registrati GRATIS</strong></a>
		  </div>
		  <div class="c-header__companies--mobile">
		  	<a href="#">Per le aziende</a>
		  </div>
		</header>
	</div>
</div>
{% endblock %}

{% block footer %}
	{% include 'blocks/footer.html' %}
{% endblock %}

{% block content %}
	
	<div class="page_funnel">

		<div class="row">
			<div class="page_funnel__progressbar column">
				{% import 'blocks/progressbar.html' as progress %}
				{{ progress.progressbar(
					'c-progressbar__item--active',
					'c-progressbar__item--disabled',
					'c-progressbar__item--disabled'
				) }}
			</div>
		</div>
		
		<div class="row">
			<div class="column">
				<div class="page_funnel__wrapper">
					<div class="row">
						<div class="page_funnel__wrapper__inner column">
							
							<form action="funnel-step-2.html" class="o-form">

								<div class="o-form__wrapper">
									<div class="title">La tua esperienza</div>
									<div class="subtitle">Indicaci qual è la professione di tuo interesse e gli anni di esperienza che hai maturato in quella mansione</div>
									
									<div class="o-form__item o-form__item--success">
										<label for="">Professione <sup>*</sup></label>
										<select class="o-form__select2" style="width: 100%">
										  {% for i in range(1, 25) %}
												<option value="option-{{i}}">Professione {{i}}</option>
										  {% endfor %}
										</select>
									</div>
									
									<div class="o-form__item o-form__item--error">
										<label for="">Anni di esperienza <sup>*</sup></label>
										<select class="o-form__select2" style="width: 100%">
										  {% for i in range(1, 10) %}
												<option value="option-{{i}}">{{i}} anni</option>
										  {% endfor %}
										</select>
									</div>
									
									<a href="#" class="o-form__trigger js-show-textarea">
										Vuoi aggiungere più informazioni sulla tua esperienza? <strong>Aggiungi</strong>
									</a>
									<textarea id="js-textarea-more-info" class="is-hidden" rows="4" cols="50" placeholder="Inserisci maggiori informazioni sulla tua eseperienza"></textarea>

								</div>

								<div class="title">Istruzione e competenze</div>
								<div class="subtitle">Indicaci qual è il tuo livello di istruzione e quali tipi di conoscenze hai acquisito negli anni.</div>

								<div class="o-form__item">
									<label for="">Livello istruzione <sup>*</sup></label>
									<select class="o-form__select2" style="width: 100%">
									  {% for i in range(1, 10) %}
											<option value="option-{{i}}">Option {{i}}</option>
									  {% endfor %}
									</select>
								</div>

								<div class="o-form__item">
									<label for="">Titolo di studio <sup>*</sup></label>
									<input type="text" placeholder="Es. Diploma di Geometria">
								</div>

								<div class="o-form__item">
									<label for="">Conoscenze informatiche <sup>*</sup></label>
									<select class="o-form__select2" style="width: 100%">
									  {% for i in range(1, 10) %}
											<option value="option-{{i}}">Option {{i}}</option>
									  {% endfor %}
									</select>
								</div>

								<div class="o-form__item">
									<label for="">Conoscenza inglese <sup>*</sup></label>
									<select class="o-form__select2" style="width: 100%">
									  {% for i in range(1, 10) %}
											<option value="option-{{i}}">Option {{i}}</option>
									  {% endfor %}
									</select>
								</div>

								<div class="o-form__item">
									<label for="">Patente di guida <sup>*</sup></label>
									<select class="o-form__select2" style="width: 100%">
									  {% for i in range(1, 10) %}
											<option value="option-{{i}}">Option {{i}}</option>
									  {% endfor %}
									</select>
								</div>

								<div class="o-form__cta">
									<button class="button button--primary">Avanti</button>
								</div>

							</form>

						</div>						
					</div>
					<div class="page_funnel__required_field">
						<span><sup>*</sup>campo obbligatorio</span>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
	  
	  $('.o-form__select2').select2();

	  $('.js-show-textarea').click(function(e){
	  	e.preventDefault();
			$('#js-textarea-more-info').removeClass('is-hidden');
			$(this).hide();
	  });

	});
</script>
{% endblock %}