{% extends "layouts/layout.html"%}

{% block header %}
<div class="row">
	<div class="column">
		<header class="c-header c-header--dark c-header--funnel">
		  <div class="c-header__logo">
		  	<a href="index.html">
		  		<img src="images/svgs/logo.svg" alt="" class="svg">
		  	</a>
		  </div>
		  <div class="c-header__companies">
		  	Sei un' azienda e cerchi personale? <a href="#"><strong>Registrati GRATIS</strong></a>
		  </div>
		  <div class="c-header__companies--mobile">
		  	<a href="#">Per le aziende</a>
		  </div>
		</header>
	</div>
</div>
{% endblock %}

{% block footer %}
	{% include 'blocks/footer.html' %}
{% endblock %}

{% block content %}
	
	<div class="page_funnel">

		<div class="row">
			<div class="page_funnel__progressbar column">
				{% import 'blocks/progressbar.html' as progress %}
				{{ progress.progressbar(
					'c-progressbar__item--success',
					'c-progressbar__item--active',
					'c-progressbar__item--disabled'
				) }}
			</div>
		</div>
		
		<div class="row">
			<div class="column">
				<div class="page_funnel__wrapper">
					<div class="row">
						<div class="page_funnel__wrapper__inner column">
							
							<form action="funnel-step-3.html" class="o-form">

								<div class="o-form__wrapper">
									<div class="title">I tuoi dati anagrafici</div>
									<div class="subtitle">Indicandoci le informazioni sulla tua persona ci aiuterai a completare il tuo curriculum dando così informazioni utili alle aziende che sceglierai</div>
									
									<div class="o-form__row">
										<div class="o-form__item">
											<label for="">Nome <sup>*</sup></label>
											<input type="text" placeholder="Es. Mario">
										</div>
										<div class="o-form__item">
											<label for="">Cognome <sup>*</sup></label>
											<input type="text" placeholder="Es. Rossi">
										</div>
									</div>

									<div class="o-form__item">
										<label for="">Luogo di nascita <sup>*</sup></label>
										<input type="text" placeholder="Es. Milano">
									</div>

									<div class="o-form__row">
										<div class="o-form__item">
											<label for="">Data di nascita <sup>*</sup></label>
											<input type="text" placeholder="GG/MM/AAAA">
										</div>
										<div class="o-form__item">
											<label for="">Sesso <sup>*</sup></label>
											<select class="o-form__select2" style="width: 100%">
												<option value="Male">Uomo</option>
												<option value="Female">Donna</option>
											</select>
										</div>
									</div>

									<div class="o-form__item">
										<label for="">Comune di residenza <sup>*</sup></label>
										<select class="o-form__select2" style="width: 100%">
										  {% for i in range(1, 10) %}
												<option value="option-{{i}}">Option {{i}}</option>
										  {% endfor %}
										</select>
									</div>

									<div class="o-form__item">
										<label for="">Provincia di residenza <sup>*</sup></label>
										<select class="o-form__select2" style="width: 100%">
										  {% for i in range(1, 10) %}
												<option value="option-{{i}}">Option {{i}}</option>
										  {% endfor %}
										</select>
									</div>
									
									<div class="o-form__item">
										<label for="">Indirizzo <sup>*</sup></label>
										<input type="text" placeholder="Es. Via Roma">
									</div>

								</div>

								<div class="title">I tuoi contatti</div>
								<div class="subtitle">I tuoi contatti verranno inviati alle aziende di tuo interesse per poter essere ricontattato e per fissare un colloquio conoscitivo.</div>

								<div class="o-form__item">
									<label for="">Email <sup>*</sup></label>
									<input type="email" placeholder="Es. mario.rossi@mail.it">
								</div>

								<div class="o-form__item">
									<label for="">Titolo di studio <sup>*</sup></label>
									<input type="tel" placeholder="Es. 3201234567">
								</div>

								<div class="o-form__cta">
									<button class="button button--primary">Avanti</button>
								</div>

							</form>

						</div>						
					</div>
					<div class="page_funnel__required_field">
						<span><sup>*</sup>campo obbligatorio</span>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
	  $(".o-form__select2").select2();
	});
</script>
{% endblock %}