{% extends "layouts/layout.html"%}

{% block header %}
{% endblock %}

{% block footer %}
	{% include 'blocks/footer.html' %}
{% endblock %}

{% block content %}

	<div class="page_landing">
		
		<section class="page_landing__hero">
			{% import "blocks/hero.html" as hero %}
			{{ hero.hero(
				null, 
				'Voglio inviare il mio curriculum <strong>a migliaia di aziende.</strong>',
				'images/img-home.jpg'
			) }}
		</section>
		
		<section class="page_landing__testimonials">
			{% include 'blocks/testimonials.html' %}
		</section>

		<section class="page_landing__steps">
			{% include 'blocks/steps.html' %}
		</section>

		<section class="page_landing__professions">
			{% import 'blocks/professions.html' as professions %}
			{{ professions.professions() }}
		</section>

		<section class="page_landing__hero">
			{% import "blocks/hero.html" as hero %}
			{{ hero.hero(
				'c-hero--bottom', 
				'Voglio inviare il mio curriculum <strong>a migliaia di aziende.</strong>',
				'images/img-home.jpg'
			) }}
		</section>

	</div>

{% endblock %}

{% block javascript %}
<script>

	$('.js-showMoreProf').click(function(){
		$('.c-professions__more').hide();
		$('.c-professions__list--secondary').toggle();
		// $('.c-professions__more').appendTo('.c-professions');
		if( $('.c-professions__list--secondary').is(":visible") ){
			$('html,body').animate({
	      scrollTop: $('.c-professions__list--secondary').offset().top
	    }, 700);
		} else {
			$('html,body').animate({
	      scrollTop: $('.page_landing__professions').offset().top
	    }, 700);
		}
	});

	$(document).ready(function () {

    var mySwiper = new Swiper ('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      slidesPerView: 3,
      spaceBetween: 15,
      breakpoints: {
		    768: {
		      slidesPerView: 2,
		      spaceBetween: 30,
		    },
		    640: {
		      slidesPerView: 1,
		      spaceBetween: 30
		    }
		  }
    });

  });
</script>
{% endblock %}