// Functions
@function gnv-button-util-size($dim) {
  @if(map-has-key($gnv-button-sizes, $dim)){
    @return map-get($gnv-button-sizes, $dim);
  } @else {
    @warn "SIZE: not exist " + $dim;
  }
}

// Mixins
@mixin gnv-button-color($txt-color, $bg-color, $hover-inverse: false){
  color: $txt-color;
  background-color: $bg-color;
  transition: background 0.5s ease;
  &:hover, &:focus {
    background-color: darken($bg-color, 10%);
    color: $txt-color;
    text-decoration: none;
  }
}

@mixin gnv-button-color-inverse($txt-color, $bg-color){
  cursor: pointer;
  color: $txt-color;
  border: 1px solid $txt-color;
  background: $bg-color;
  transition: background 0.5s ease;
  &:hover, &:focus {
    background-color: $txt-color;
    color: color(primary);
    text-decoration: none;
  }
}

@mixin gnv-button-size($value){
  padding: gnv-button-util-size($value);
}