<div class="c-cities">
	
	<ul class="c-cities__list c-cities__list--primary row">
		{% for i in range(1, 57) %}
			<li class="c-cities__city column">
				<a href="#">Cuoco a <strong>Nome Città</strong></a>
			</li>
		{% endfor %}
	</ul>

	<div class="c-cities__more row">
		<div class="column">
			<a class="button button--white js-showMoreCities">Scopri tutte <strong>le città</strong></a>
		</div>
	</div>

	<ul class="c-cities__list c-cities__list--secondary row">
		{% for i in range(1, 57) %}
			<li class="c-cities__city column">
				<a href="#">Cuoco a <strong>Nome Città</strong></a>
			</li>
		{% endfor %}
	</ul>

</div>