{% macro hero(modifier, hero_title, hero_image) %}
<div class="c-hero {{ modifier }}" style="background-image: url(' {{hero_image}} ');">
	<div class="row">
		
		{% if modifier != 'c-hero--bottom' %}
			<div class="c-hero__header column">
				{% include 'blocks/header.html' %}
			</div>
		{% endif %}

		<div class="c-hero__main column">
			<h1>{{ hero_title|safe }}</h1>
			<h2>
				Genera online il tuo curriculum e invialo in un click a tutte le aziende del tuo settore a partire da € 29,00
			</h2>
		</div>

		<div class="c-hero__cta column">
			<a href="funnel-step-1.html" class="button button--primary">
				<strong>Invia ora</strong> il tuo curriculum
			</a>
		</div>

	</div>
</div>
{% endmacro %}